<div class="row">
  <div class="col-md-4">
    <%= image_tag '345.jpeg', style: 'margin-left: 350px' %>
  </div>
  <div class="col-md-4" align="center">
    <h2>Регистрация</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :name, 'Имя' %>
        <br/>
        <%= f.text_field :name, autofocus: true %></div>

      <div><%= f.label :email %>
        <br/>
        <%= f.email_field :email, autofocus: true %></div>

      <div><%= f.label :password, 'Пароль' %>
        <br/>
        <%= f.password_field :password, autocomplete: "off" %></div>

      <div><%= f.label :password_confirmation, 'Повторите пароль' %>
        <br/>
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

      <div><%= f.submit "Зарегистрироваться" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <div class="col-md-4"></div>
</div>
