<h1>Listing records</h1>

<table>
  <thead>
    <tr>
      <th>Описание</th>
      <th>Сумма</th>
      <th>Дата</th>
      <th>Вид</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.desc %></td>
        <td><%= record.sum %></td>
        <td><%= record.date %></td>
        <td><%= record.kind %></td>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record', new_record_path %>
